table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    margin : 5pt;
    padding : 5pt;
    text-align : left;
}

th {
    color: white;
}
tr:nth-child(odd) {background: #CCC}
tr:nth-child(even) {background: #FFF}

* {
    text-align: left;
}